$title: var(--title);
$footer-container: var(--footer-container);

$primary: var(--primary);
$primary-variant: var(--primary-variant);
$primary-button: var(--primary-button);
$primary-container: var(--primary-container);

$secondary: var(--secondary);
$secondary-variant: var(--secondary-variant);
$secondary-button: var(--secondary-button);
$secondary-container: var(--secondary-container);